* {
  font-family: 'Exo', sans-serif;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
  text-shadow: 2px 2px 5px rgb(55, 58, 53);
}

h4 {
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px;
  text-shadow: 1px 1px 5px rgb(55, 58, 53);
  height: 5%;
  text-align: center;
}

h5 {
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 1px 1px 5px rgb(55, 58, 53);
  margin: 0;
  height: 5%;
  text-align: center;
}

.pageTitle {
  margin-bottom: 15px;
  width: 100%;
  background-color: rgb(208, 229, 227);
  padding: 2px;
}

.pageTitle h1, .pageTitle h4, .pageTitle h5 {
  margin: 2px;
  padding: 1px;
}

.container {
  display: grid;
  grid-template-rows: 3fr 2fr;
}

.section1 {
  padding: 0 2% 0 2%;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(40px, 50px);
  height: 70%;
}

 .col1, .col2, .col3, .col4, .col5 {
  grid-row-start: 1;
  grid-row-end: 10;
  text-align: center;
}

.row1 {
  height: 27%;
  background-color: rgb(191, 239, 167);
  border-radius: 5%;
  box-shadow: 5px 5px 10px rgb(62, 130, 28);
}

.row2, .row3 {
  height: 27%;
  background-color: rgb(129, 162, 209);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5%;
  box-shadow: 5px 5px 10px rgb(35, 87, 160);
}

.row1 img, .row2 img, .row3 img {
  position: relative;
  height: 100px;
  margin-top: 5%;
  cursor: move;
  border-radius: 10%;
  z-index: 5;
}

#section1ChoicesContainer .textAnswers {
  height: auto;
  width: 200px;
  background-color: rgb(209, 204, 202);
  border-radius: 10px;
  padding: 5px;
  cursor: move;
  font-size: .9em;
  font-weight: extra-bold;
  position: absolute;
  z-index: 0;
  box-shadow: 2px 2px 10px black;
}

.row1 .textAnswers, .row2 .textAnswers, .row3 .textAnswers {
  height: 75%;
  width: 75%;
  padding: 6%;
  border-radius: 10px;
  font-size: .7em;
  cursor: move;
  font-weight: 1200;
  text-align: center;
  position: relative;
  z-index: 0;
}

.row1, .row2, .row3 {
  padding: 2%;
}


.fillGreen {
  background-color: rgb(82, 165, 120);
  box-shadow: none;
}

.fillRed {
  background-color: rgb(214, 69, 25);
}

.section1 h4 {
  height: 12%;
  font-weight: 600;
  padding-bottom: 5%;
}

.section1Choices p {
  font-size: 0.8em;
  text-align: center;
}

#footer {
  display: grid;
  grid-row: 2;
  grid-template-columns: 1fr 2fr 2fr 1fr;
}

#section1ChoicesContainer {
  grid-column: 2;
  justify-self: center;
  background-color: rgba(175, 185, 201, .75);
  height: 170px;
  width: 230px;
  padding: 5%;
  display: relative;
  border-radius: 10%;
}

#score {
  grid-column: 3;
  justify-self: center;
  height: 70%;
  text-shadow: 1px 1px 5px rgb(55, 58, 53);
}

#scoreWord {
  margin: 0px;
  height: 30%;
  font-size: 2em;
}

#number {
  padding-left: 35%;
  margin: 0;
  font-size: 3em;
}

#section1ChoicesContainer img {
  position: absolute;
  height: 125px;
  cursor: move;
  border-radius: 10%;
  z-index: 5;
}
